// nav bar css
* {
    margin: 0px;
}
.navbarMain {
    margin-bottom: 0 !important;
}
.logo {
    height: 60px;
}
.slider {
    height: 90vh;
}
#search-btn {
    display: none;
}
.search {
    border-radius: 50px;
}
.form-search {
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 13px center;
}
.searchbar {
    color: #555;
    display: flex;
    padding: 2px;
    // border: 1px solid currentColor;
    border-radius: 5px;

    form.nosubmit {
        border: none;
        padding: 0;
    }

    input.nosubmit {
        width: 300px;
        border: 1px solid #555;
        border-radius: 50px;
        display: block;
        padding: 9px 4px 9px 40px;
        background: transparent
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
            no-repeat 13px center;
    }
}
.serch-right {
    display: none;
}

.serch-left {
    margin-right: auto;
}

@media (max-width: 992px) {
    .serch-right {
        display: block;
    }
    .serch-left {
        display: none;
    }
    .slider {
        height: auto;
        overflow: hidden;
        img {
            height: 70vh;
        }
        h3,
        p {
            display: none;
        }
    }
}
.btn-mobile {
    display: none;
}
@media (max-width: 816px) {
    .slider {
        img {
            height: 50vh;
        }
    }
}
@media (max-width: 500px) {
    .slider {
        img {
            height: 30vh;
        }
    }
}
@media (max-width: 992px) {
    .btn-mobile {
        display: flex;
        flex-direction: column;
        font-weight: 500;
    }
    .sign-in,
    .sign-up {
        padding: 8px 0;
    }
    .btn-mobile a {
        color: #212529 !important;
        text-decoration: none;
    }
    .btn-desc {
        display: none;
    }
}
@media (min-width: 992px) {
    .header-btn {
        margin-top: 10px;
    }
    .header-btn a {
        text-decoration: none;
        padding: 10px 20px;
        color: var(--text-color);
        font-weight: 500;
    }
    .header-btn .sign-in {
        background: #474fa0;
        color: #fff;
        border-radius: 0.5rem;
    }
    .header-btn .sign-in:hover {
        background: white;
        color: #474fa0;
    }
}

.un-gr_title-un {
    color: #d83d00;
}
.after-lendig {
    margin: 50px 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .img {
        width: 150px;
    }
    .un-gr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .un-gr_title {
        font-size: large;
        font-weight: 600;
    }
}
.downword {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
        width: 10px;
    }
}
.un-gr {
    transition: all 0.3s linear;
    cursor: pointer;
}

.un-gr:hover {
    transform: scale(1.1);
}

// .hero-banner {
//     overflow: hidden;
// }

// crousal css start

* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }

    @media only screen and (max-width: 500px) {
        .prev,
        .next,
        .text {
            font-size: 14px;
        }
    }
}

// crousal css end

.about_adani {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    .div2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: clamp(50%, 400px, 600px);
    }
    .title {
        margin-top: 20px;
        font-size: 30px;
        color: #474fa0;
        font-weight: 600;
        text-align: center;
    }
    .discription {
        text-align: center;
        margin-top: 20px;
    }
    .button {
        color: #fff;
        background-color: #474fa0;
        margin-top: 20px;
        padding: 10px 90px;
        font-weight: 500;
        border-radius: 50px;
        text-align: center;

        @media (min-width: 700px) and (max-width: 900px) {
            padding: 10px 40px;
        }

        @media (max-width: 700px) {
            padding: 10px 30px;
        }
        @media (max-width: 450px) {
            padding: 10px 10px;
        }
    }
}
.our-programs {
    text-align: center;
    color: #474fa0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 70px;
}
.card-img-top {
    height: 30vh;
    overflow: hidden;
    background-size: cover;
    background-clip: border-box;
}
.card {
    border-radius: 50px !important;
    overflow: hidden;
    margin: 20px;
    --bs-border-color-translucent: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-out;
}
.card:hover {
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.text-muted {
    padding-left: 15px;
}
.slider-code {
    margin-top: 50px;
    overflow: hidden;
}
.footer {
    margin-top: 70px;
}
