.image-div {
    width: 100%;
    height: 90vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
.course-desc {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.course-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.course-info-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 20px;
    margin-right: 20px !important;
}
