.course-video-title {
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
}
.video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.video-desc-head {
    font-size: 20px;
}
.video-desc {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    margin-top: 50px;
}
